<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Data Saved</title>
</head>
<body>
		<p th:align="center" style="color: green;">Product Details :</p>
	<table th:border="3" th:cellpadding="10" th:align="center">
		<thead>
			<tr>
				<th>Product Id</th>
				<th>Product Name</th>
				<th>Product Brand</th>
				<th>Product Country</th>
				<th>Product Price</th>
			</tr>
		</thead>
		
		<tr>
			<td>[[${product.id}]]</td>
			<td>[[${product.name}]]</td>
			<td>[[${product.brand}]]</td>
			<td>[[${product.madein}]]</td>
			<td>[[${product.price}]]</td>
		</tr>
	</table>
	
	<h1 th:align="center" style="color: purple;">click here to see all products available in the store</h1>
	<h1 th:align="center"><a th:href="@{/}">all products</a></h1>
</body>
</html>